<p id="notice"><%= notice %></p>

<h2>Listing Posts</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.email %></td>
        <td><%= post.title %></td>
        <td><%= truncate(strip_tags(post.body), length: 80) %></td>
        <td><%= link_to 'Show', post %></td>
        <%if post.user.email==current_user.email or current_user.id==1%>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>