<h2><%= @post.title %></h2>

<p id="notice"><%= notice %></p>

<div id = "post">
  <div id = "body">
  <%= sanitize @post.body %>
  </div>

  <div id = "info">
    <%= @post.user.email %>|
    <%= @post.created_at %>|
    <%if @post.user.email==current_user.email or current_user.id==1%>
      <%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Delete',  @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
  </div>
</div>

<br>
<div id = "comments">
  <strong>Cooments: </strong>

  <% @post.comments.each do |comment|%>
    <br>
    <%  user = @user.where(id: comment.user_id) %>
    <%= user[0].email unless user.empty? %>
    <br>
    <%= comment.body %> <br>
    <%= comment.created_at%><br>
    <%= link_to 'delete',[@post,comment], method: :delete unless comment.body==nil%>
  <%end%>
</div>

<%#= @post.id %>


<%= form_for [@post, @comment] do |f| %>

  <div class="form-group">
      <%= f.label %s{ Leave your comment:}  %><br>
      <%= f.text_area :body, rows: 4, cols: 40 %>
  </div>
  <%= f.submit%> 

<% end %>


<%#= link_to 'Comment_new', new_post_comment_path(@post) %>

<%= link_to 'Back', posts_path %>
