<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%=stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id = "panel">
  <h1><%= link_to "Blog", welcome_index_path %></h1>
    <% if current_user%>
    <div id = "config">
        <%= link_to image_tag("users.png", height: '25', width: '25'), user_index_path  %>
        <%= link_to image_tag("conf.png", height: '25', width: '25'), edit_user_registration_path  %>
        <%= link_to image_tag("exit.png", height: '25', width: '25'), destroy_user_session_path, method: :delete %>
    </div>
    <% end %>
</div>

<%if false%>
<div class="notice"><%= notice %></div>
<%end%>

<%if current_user%>
    <div id = "bar">
        <div id = "menu">
          <div class = "button"><%= link_to "Users",user_index_path%></div>
          <div class = "button"><%= link_to "Posts", posts_path%> </div>
          <div class = "button"><%= link_to "New post", new_post_path%></div>
        </div>
    </div>     
<%end%>

<div id = "container">
  <%= yield %>
</div>

</body>
</html>